<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th class="text-capitalize" scope="col">Item Name</th>
        <th class="text-capitalize" scope="col">Description</th>
        <th class="text-capitalize" scope="col">Price</th>
        <th class="text-capitalize" scope="col">Availability</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of stockData; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.price }}</td>
        <td>
          <button
            class="small"
            [ngClass]="item.inStock ? 'btn-success' : 'btn-danger'"
          >
            {{ item.inStock ? "Available" : "Out of Stock" }}
          </button>
        </td>
        <td>
          <button
            class="btn btn-primary btn-sm a-btn-slide-text"
            (click)="onEdit(item)"
          >
            <span><i class="far fa-edit"></i></span>
            <span><strong>Edit</strong></span>
          </button>
          <button
            class="btn btn-danger btn-sm a-btn-slide-text"
            (click)="onDelete(item)"
          >
            <span><i class="far fa-trash-alt"></i></span>
            <span><strong>Delete</strong></span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
